@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-03-25 17:09:54
 * @version $Id$
 */
.functionBanner{width:100%;min-width:1200px;height:660px;background:url(../images/functionBannerBg.jpg) #f3f3f3 no-repeat center center;}
.bannerCenterBox{width:1200px;height:660px;margin:0 auto;position: relative;/*transform-style:preserve-3d;perspective:800px;*/}
.qyyzsyx{position: absolute;left:50%;top:50%;width:507px;height:68px;background:url(../images/qyyzsyx.png) no-repeat;margin-left:-253px;margin-top: -200px;animation:getUp 1s ease;}
.jjfagys{position: absolute;left:50%;top:50%;width:507px;height:68px;background:url(../images/jjfagys.png) no-repeat;margin-left:-253px;margin-top: -105px;animation:getUp 1.5s ease;}
.xiangtui{position: absolute;left:50%;top:50%;width:84px;height:84px;background:url(../images/xiangtui.png) no-repeat;margin-left:-38px;margin-top:-24px;animation:xtuiMove 1s ease 1s;animation-fill-mode:both;}

.roundNav{height:170px;width:100%;min-width:1200px;background-color:#f73856;}
.navBox{width:1200px;height:130px;margin:0 auto;padding: 20px 0;}
.navList{margin:0 auto;}
.navList li{width:100px;text-align:center;float:left;margin:0 150px;}
.navList li .navName{font-size:20px;color:#ffffff;}
.navList li a{width:94px;height:94px;margin:0 auto 10px;display: block;cursor:pointer;}
.navList li a.ggtgImg{background:url(../images/ggtg.png) no-repeat;}
.navList li a.ggtgImg:hover{background:url(../images/ggtg_hover.png) no-repeat;}
.navList li a.hdchImg{background:url(../images/hdch.png) no-repeat;}
.navList li a.hdchImg:hover{background:url(../images/hdch_hover.png) no-repeat;}
.navList li a.xszbImg{background:url(../images/xszb.png) no-repeat;}
.navList li a.xszbImg:hover{background:url(../images/xszb_hover.png) no-repeat;}

/*广告推广*/
.ggtgContentBox{width:100%;height:684px;min-width: 1200px;overflow: hidden;position: relative;}
.ggtgBgImg{position: absolute;right: 30%;top: 0;z-index: -1;border-left: 760px solid #fd5a74;border-bottom: 280px solid transparent;border-right: 760px solid transparent;border-top: 280px solid #fd5a74;}
.ggtgContentBox .contentBox{width:1200px;height:684px;margin:0 auto;position: relative;}
.threeIphone{opacity:0;background:url(../images/threePhone.png) no-repeat;width:614px;height:619px;position:absolute;left:50%;top:50%;margin-left:-620px;margin-top:-280px;}
.threeIphone.addEffect{opacity:1;animation:getUp3 1s ease;animation-fill-mode:both;}
.navCommonInfor{width:488px;height:360px;position: absolute;left:50%;top:50%;margin-top: -115px;}
.navCommonInfor .commonTitle{width:300px;height:59px;background:url(../images/ggtgName.png) no-repeat;font-size:30px;color:#ffffff;padding-top: 58px;text-indent: 170px;margin-left: 180px;}
.navCommonInfor  p{font-size:30px;line-height: 60px;color:#333333;}
.ggtgInfor{opacity:0;margin-left:32px;}

/*活动策划*/
.hdchContentBox{width:100%;height:778px;min-width: 1200px;overflow: hidden;background:url(../images/hdchBgImg.jpg) no-repeat;background-size:100% 100%;}
.hdchContentBox .contentBox{width:1200px;height:778px;margin:0 auto;position: relative;}
.MacBookPc{opacity:0;background:url(../images/MacBook_pc.png) no-repeat;width:630px;height:524px;position:absolute;left:50%;top:50%;margin-left:-30px;margin-top:-190px;}
.MacBookPc.addEffect{opacity:1;animation:getRight3 1s ease;animation-fill-mode: both;}
.hdchInfor{opacity:0;width:480px;height:360px;position: absolute;left:50%;top:50%;margin-top: -90px;margin-left:-600px;}
.hdchTitle{width:310px;height:57px;background:url(../images/hdchName.png) no-repeat;font-size:30px;color:#ffffff;padding-top: 50px;text-indent:10px;}
.hdchInfor  p{font-size:30px;line-height: 60px;color:#ffffff;}

/*销售众包*/
.xxzbContentBox{width:100%;height:800px;min-width: 1200px;overflow: hidden;background:url(../images/xszbBgImg.jpg) no-repeat bottom right;}
.xxzbContentBox .contentBox{width:1200px;height:800px;margin:0 auto;position: relative;}
.winXtui{opacity:0;background:url(../images/winXtui.jpg) no-repeat;width:679px;height:688px;position:absolute;left:50%;top:50%;margin-left:-600px;margin-top:-315px;}
.winXtui.addEffect{opacity:1;animation:getLeft3 1s ease;animation-fill-mode: both;}
.xxzbInfor{opacity:0;margin-left:112px;}