@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-03-23 11:04:52
 * @version $Id$
 */

/*banner*/
.banner{width:100%;height:680px;background:url(../images/bannerBg.jpg) no-repeat;background-size:100% 100%;min-width: 1200px;}
.propagandaAD{width:1200px;height:600px;margin:0 auto;position: relative;}
.roundBall{width:190px;height:191px;background:url(../images/roundBall.png) no-repeat;position: absolute;left:50%;top:50%;margin-left: -95px;margin-top:-80px;animation:showeffect 2s ease;}
.marketingMode{width:178px;height:36px;background:url(../images/marketingMode.png) no-repeat;position: absolute;left:50%;top:50%;margin-left: -89px;margin-top:-130px;animation:getUp 1s ease;}
.mobileInternet{width:296px;height:58px;background:url(../images/mobileInternet.png) no-repeat;position: absolute;left:50%;top:50%;margin-left: -148px;margin-top:-220px;animation:getUp 2s ease;}
.shareBrand{width:239px;height:29px;background:url(../images/shareBrand.png) no-repeat;position: absolute;left:50%;top:50%;margin-left: -350px;margin-top:-25px;animation:getshow2 1s ease-in-out 0.5s;animation-fill-mode:both;}
.sideCloudSales{width:239px;height:30px;background:url(../images/sideCloudSales.png) no-repeat;position: absolute;left:50%;top:50%;margin-left:115px;margin-top:-25px;animation:getshow2 1s ease-in-out 0.5s;animation-fill-mode:both;}
.lineRound{width:720px;height:2px;position: absolute;left:50%;top:50%;margin-left:-360px;margin-top:14px;}
.lineRound:after,.lineRound:before{background-color:#ffffff;content:"";height:2px;position: absolute;top:0px;animation: getLRWidth 1.5s ease;width:360px;}
.lineRound:after{left:50%;}
.lineRound:before{right:50%;}
.lineRound1{margin-left:-368px;margin-top:11px;animation:getshow 1.5s ease;opacity: 1;}
.lineRound2{margin-left:360px;margin-top:11px;animation:getshow 1.5s ease;opacity: 1;}
.saleNewMode{width:270px;height:30px;position: absolute;left:50%;top:50%;}
.saleNewMode.xstdkszj{background:url(../images/xstdkszj.png) no-repeat;margin-left:-520px;margin-top:145px;animation:getshow2 0.5s linear 1.2s;animation-fill-mode:both;}
.saleNewMode.khxsqshq{background:url(../images/khxsqshq.png) no-repeat;margin-left:262px;margin-top:154px;animation:getshow2 0.5s linear 1s;animation-fill-mode:both;}
.saleNewMode.hdtgsssl{background:url(../images/hdtgsssl.png) no-repeat;margin-left:110px;margin-top:290px;animation:getshow2 0.5s linear 0.6s;animation-fill-mode:both;}

.peopleList{width:62px;height:62px;position: absolute;left:50%;top:50%;}
.peopleList1{background:url(../images/people1.png) no-repeat;margin-left:-595px;margin-top:130px;animation:getshow2 1s linear 1s;animation-fill-mode:both;}
.peopleList2{background:url(../images/people2.png) no-repeat;margin-left:30px;margin-top:275px;animation:getshow2 1s linear 0.5s;animation-fill-mode:both;}
.peopleList3{background:url(../images/people3.png) no-repeat;margin-left:180px;margin-top:139px;animation:getshow2 1s linear 0.7s;animation-fill-mode:both;}
.peopleLine{background-color:#ffffff;position: absolute;left:50%;top:50%;}
.peopleRound{width:8px;height:8px;background-color:#ffffff;position: absolute;left:50%;top:50%;border-radius: 50%;}
.people1Line1{width:2px;height:35px;margin-left:-565px;margin-top:192px;background-color: transparent;}
.people1Line1:after{content:"";width:2px;height:35px;background-color:#ffffff;position: absolute;bottom: 0px;animation: getTopHeight 1s linear 0s;}
.people1Line2{width:200px;height:2px;margin-left:-565px;margin-top:227px;background-color: transparent;}
.people1Line2:after{content:"";width:200px;height:2px;background-color:#ffffff;position: absolute;right:0px;animation:getLeftWidth 0.5s linear 0s;}
.pepole1Round{margin-left:-365px;margin-top:224px;animation:getshow2 0.5s linear;}
.people2Line1{width:2px;height:26px;margin-left:210px;margin-top:201px;background-color: transparent;}
.people2Line1:after{content:"";width:2px;height:26px;background-color:#ffffff;position: absolute;bottom: 0px;animation: getTop2Height 1s linear 0s;}
.people2Line2{width:150px;height:2px;margin-left:62px;margin-top:227px;animation:getRight2Width 0.5s linear 0s;}
.pepole2Round{margin-left:54px;margin-top:224px;animation:getshow2 0.5s linear;}
.people3Line1{width:176px;height:2px;margin-left:-145px;margin-top:308px;animation:getRightWidth 0.5s linear 0s;}
.pepole3Round{margin-left:-152px;margin-top:305px;animation:getshow2 0.5s linear;}

/*我们擅长*/
.goodatMain{width:100%;height:803px;background:url(../images/goodatBg.jpg) no-repeat bottom center;background-size:100% 100%;overflow: hidden;min-width: 1200px;}
.goodatBox{width:1200px;height:803px;margin:0 auto;position: relative;}
.goodatTitle{width:1058px;height:197px;background:url(../images/weGoodat.png) no-repeat;margin-left: 20px;position: relative;}
.getMoreBtn{left:290px;top:110px;}
.advantageList{margin-top:78px;}
.advantageList ul li{width:282px;height:480px;float:left;position: relative;padding-top:50px;}
.advantageList ul li.setMargin{margin:0 175px;}
.advantageList ul li img{width:180px;margin:0 auto;transition: transform 0.3s ease-in-out;cursor: pointer;opacity:0;}
.advantageList ul li:nth-child(1) img.addEffect{animation:getLeft3 1s ease;opacity:1;}
.advantageList ul li:nth-child(2) img.addEffect{animation:getUp3 1s ease;opacity:1;}
.advantageList ul li:nth-child(3) img.addEffect{animation:getRight3 1s ease;opacity:1;}
.advantageList ul li:hover img{transform: translateY(-50px);}
.advantageList ul li:hover .contentBox{opacity: 1;transform: translateY(0);}
.contentBox{background-color:#42403f;color:#838181;padding:35px 15px;width:252px;height:150px;line-height:35px;overflow: hidden;position: absolute;bottom: 0px;font-size:18px;opacity: 0;transition: all 0.3s ease-in-out;transform: translateY(100%);}

/*我们的优势*/
.advantageMain{width:100%;height:1077px;overflow: hidden;min-width: 1200px;}
.ourAdvantage{width:1200px;margin:0 auto;height:1077px;position: relative;}
.advantageTitle{width:638px;height:129px;background:url(../images/advantage.png) no-repeat;position: absolute;right:98px;top:0px;z-index: 99;}
.buildBox{width:848px;height:1010px;position: absolute;right:500px;bottom:10px;}
.buildBox img{opacity:0;}
.buildBox img.addEffect{animation:getUp2 1s ease;opacity: 1;}
.sloganShadow{width:409px;height:413px;background:url(../images/shadow.png) no-repeat;position: absolute;right:25px;top:275px;}
.sloganList{width:197px;height:197px;position: absolute;transition: all 0.2s linear;}
.sloganList:hover{transform: scale(1.1);}
.sloganList1{background:url(../images/qualityPlatform.png) no-repeat;right:120px;top:205px;}
.sloganList2{background:url(../images/ultimatePursuit.png) no-repeat;right:240px;top:324px;}
.sloganList3{background:url(../images/valuePropagation.png) no-repeat;right:1px;top:324px;}
.sloganList4{background:url(../images/executePlace.png) no-repeat;right:124px;top:442px;}
.boradBox{width:639px;height:232px;background:url(../images/textBorad.png) no-repeat right bottom;position: absolute;bottom: 15px;right:0px;}
.textBoradBox{width:417px;height:112px;position: absolute;left:207px;bottom: 120px;overflow: hidden;}
.textBorad{width:377px;height:72px;padding:20px;background-color:#f3f3f3;position: absolute;bottom:0px;font-size:18px;line-height: 35px;color:#666666;transform: translateY(100%);transition: all 0.6s ease;}
.currentBorad{transform: translateY(0);z-index: 999;}

/*他们有话说*/
.somethingSay{width:100%;height:880px;background:url(../images/somethingBg.jpg) no-repeat center center #ec6b80;/*background-size:100% 100%;*/overflow: hidden;min-width: 1200px;}
.someCaseShow{width:1200px;height:880px;margin:0 auto;position: relative;}
.somethingTitle{width:385px;height:64px;background:url(../images/somethingTitle.png) no-repeat;position: absolute;top:52px;left:35px;}
.moreCaseBtn{top:86px;right:116px;}
.xtuiPig{width:159px;height:159px;background:url(../images/pig.jpg) no-repeat;position: absolute;left:50%;top:50%;margin-top:40px;margin-left: -183px;}
.chinaPing{opacity:0;width:328px;height:328px;position: absolute;left:50%;top:50%;margin-top:-300px;margin-left: -183px;}
.chinaPing{
	animation-duration:0.8s !important;
}
.tctravel{opacity:0;width:328px;height:328px;position: absolute;left:50%;top:50%;margin-top:-129px;margin-left: -522px;}
.nvwang{opacity:0;width:159px;height:159px;position: absolute;left:50%;top:50%;margin-top:-300px;margin-left: -522px;}
.people1{opacity:0;width:159px;height:159px;position: absolute;left:50%;top:50%;margin-top:-300px;margin-left: -353px;}
.alibaba{opacity:0;width:328px;height:159px;position: absolute;left:50%;top:50%;margin-top:-300px;margin-left:156px;}
.rzcenter{opacity:0;width:159px;height:159px;position: absolute;left:50%;top:50%;margin-top:-129px;margin-left:156px;}
.rzcenter{
	animation-duration:0.5s !important;
}
.beibei{opacity:0;width:328px;height:159px;position: absolute;left:50%;top:50%;margin-top:40px;margin-left:-12px;}
.EF{opacity:0;width:159px;height:328px;position: absolute;left:50%;top:50%;margin-top:-129px;margin-left:326px;}

.moveChangeScale{transition: all 0.2s linear;cursor: pointer;}
.moveChangeScale:hover{transform: scale(1.05);}
.leftBottomMask{width:0px;height:0px;/*border-width: transparent transparent 100px 30px;border-style: solid;border-color: #f4758a;*/border-left:350px solid #f4758a;border-bottom:11px solid #f4758a;border-top:200px solid transparent;border-right:19px solid transparent;position: absolute;bottom: 0px;left: 0px;z-index: 99;}
.seyTextMain{position: absolute;bottom: 72px;left:0px;z-index: 10;height:114px;width:1170px;}
.theySayTextBox{width:0px;overflow: hidden;background-color:#3d3d3d;font-size:18px;color:#ffffff;position: absolute;bottom:0px;left:0px;transition:all 0.5s ease;}
.textBoxShow{width:1150px;}
.theySayTextBox p{/*width:1150px;*/overflow: hidden;white-space: nowrap;height: 30px;line-height: 30px;}
.theySayTextBox p.first{text-indent: 170px;margin-top:10px;}
.theySayTextBox p.second{text-indent: 200px;}
.theySayTextBox p.three{text-align: right;margin-right: 30px;margin-bottom: 10px;}
.theySayTextBox p a{margin-left:65px;color:#a3a3a3;}

/*陪伴一起成长*/
.growTogether{width:100%;height:620px;overflow: hidden;min-width: 1200px;}
.togetherBox{width:1200px;height:620px;position: relative;margin:0 auto;}
.togetherTitle{background:url(../images/together.png) no-repeat;width:735px;height:185px;position: absolute;left:-353px;}
.companyLogo{margin:0 auto;width:1004px;padding:168px 97px 0;position: relative;z-index: 999;}
.companyLogo .leftArrow,.companyLogo .rightArrow{font-size:70px;cursor: pointer;position: absolute;top:265px;opacity: 0.1;filter:Alpha(opacity=10);font-size: 70px;width: 60px;height: 140px;line-height: 140px;text-align: center;}
.companyLogo .leftArrow{left:0px;display: none;}
.companyLogo .rightArrow{right:0px;}
.logoListBox{width:100%;overflow: hidden;height:334px;position: relative;}
.companyLogoList{position: absolute;left:0px;top:0px;}
.companyLogoList li{float:left;width:200px;overflow:hidden;text-align: center;border-right:1px solid #d4d4d4;/*border-bottom:1px solid #d4d4d4;*/}
.companyLogoList li a{border-bottom:1px solid #d4d4d4;width:201px;height:112px;display: block;}
.companyLogoList li a img{opacity: 0;width:201px;height:112px;}
.companyLogoList li a img.addEffect{animation:getImg 0.5s linear;animation-fill-mode:both;opacity: 1;}
/*.companyLogoList li:nth-child(1) img{animation-delay:0.1s;}
.companyLogoList li:nth-child(2) img{animation-delay:2.5s;}
.companyLogoList li:nth-child(3) img{animation-delay:0.3s;}
.companyLogoList li:nth-child(4) img{animation-delay:1.9s;}
.companyLogoList li:nth-child(5) img{animation-delay:0.7s;}
.companyLogoList li:nth-child(6) img{animation-delay:0.9s;}
.companyLogoList li:nth-child(7) img{animation-delay:1.5s;}
.companyLogoList li:nth-child(8) img{animation-delay:2.3s;}
.companyLogoList li:nth-child(9) img{animation-delay:0.5s;}
.companyLogoList li:nth-child(10) img{animation-delay:1.3s;}
.companyLogoList li:nth-child(11) img{animation-delay:1.7s;}
.companyLogoList li:nth-child(12) img{animation-delay:0.2s;}
.companyLogoList li:nth-child(13) img{animation-delay:2.7s;}
.companyLogoList li:nth-child(14) img{animation-delay:1.1s;}
.companyLogoList li:nth-child(15) img{animation-delay:2.1s;}*/
